{
    "Name" : "Mixer",
    "Model" : "CM0",
    "Type" : "mixer",
    "Channels": [
        {
            "channelIndex" : 0,
            "channelType" : "tx",
            "linkedChannels" : []
        },
        {
            "channelIndex" : 1,
            "channelType" : "tx",
            "linkedChannels" : []
        },
        {
            "channelIndex" : 0,
            "channelType" : "rx",
            "linkedChannels" : []
        },
        {
            "channelIndex" : 1,
            "channelType" : "rx",
            "linkedChannels" : []
        }
    ],
    "Connections" :[
        {
            "name":"SpecteraBasestation", 
            "channelIndex": 0, 
            "channelType": "rx", 
            "selfIndex": 0, 
            "selfType": "tx", 
            "deviceIp": "192.168.1.2"
        },
        {
            "name":"SpecteraBasestation", 
            "channelIndex": 1, 
            "channelType": "rx", 
            "selfIndex": 1, 
            "selfType": "tx", 
            "deviceIp": "192.168.1.2"
        }
    ]
}