{
    "Name" : "SpecteraBasestation",
    "Model" : "Spectera",
    "Type" : "wirelessCombo",
    "Channels": [
        {
            "channelIndex" : 0,
            "channelType" : "tx",
            "linkedChannels" : [],
            "gain" : {
                "unit" : "dB",
                "dataType" : "number",
                "minValue" : -10,
                "maxValue" : 50,
                "value" : 10,
                "precision" : 0.1,
                "readOnly" : false
            },
            "rfEnable" : {
                "dataType" : "bool",
                "value" : true,
                "readOnly" : false
            },
            "squelch" : {
                "dataType" : "number",
                "unit" : "%",
                "minValue": 0,
                "maxValue": 100,
                "precision": 1,
                "value" : 100,
                "readOnly" : false
            },
            "deviceConnected" : {
                "dataType" : "bool",
                "value" : false,
                "readOnly" : true
            },
            "subDevice" : {
                "dataType" : "string",
                "value" : "disconnected",
                "readOnly" : true
            },
            "audioLevel" : {
                "dataType" : "number",
                "unit" : "dBFS",
                "value" : -256,
                "readOnly" : true
            },
            "rfLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 50,
                "readOnly" : true
            },
            "batteryLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 100,
                "readOnly" : true
            }
        },
        {
            "channelIndex" : 1,
            "channelType" : "tx",
            "linkedChannels" : [],
            "gain" : {
                "unit" : "dB",
                "dataType" : "number",
                "minValue" : -10,
                "maxValue" : 50,
                "value" : 10,
                "precision" : 0.1,
                "readOnly" : false 
            },
            "rfEnable" : {
                "dataType" : "bool",
                "value" : true,
                "readOnly" : false
            },
            "squelch" : {
                "dataType" : "number",
                "unit" : "%",
                "minValue": 0,
                "maxValue": 100,
                "precision": 1,
                "value" : 100,
                "readOnly" : false
            },
            "deviceConnected" : {
                "dataType" : "bool",
                "value" : false,
                "readOnly" : true
            },
            "subDevice" : {
                "dataType" : "string",
                "value" : "disconnected",
                "readOnly" : true
            },
            "audioLevel" : {
                "dataType" : "number",
                "unit" : "dBFS",
                "value" : -256,
                "readOnly" : true
            },
            "rfLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 50,
                "readOnly" : true
            },
            "batteryLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 100,
                "readOnly" : true
            }
        },
        {
            "channelIndex" : 0,
            "channelType" : "rx",
            "linkedChannels" : [],
            "rfEnable" : {
                "dataType" : "bool",
                "value" : true,
                "readOnly" : false
            },
            "deviceConnected" : {
                "dataType" : "bool",
                "value" : false,
                "readOnly" : true
            },
            "subDevice" : {
                "dataType" : "string",
                "value" : "disconnected",
                "readOnly" : true
            },
            "transmitPower" : {
                "dataType" : "enum",
                "enumValues" : ["low", "medium", "high"],
                "value" : "low",
                "readOnly" : false
            },
            "audioLevel" : {
                "dataType" : "number",
                "unit" : "dBFS",
                "value" : -256,
                "readOnly" : true
            },
            "rfLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 50,
                "readOnly" : true
            },
            "batteryLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 100,
                "readOnly" : true
            }
        },
        {
            "channelIndex" : 1,
            "channelType" : "rx",
            "linkedChannels" : [],
            "rfEnable" : {
                "dataType" : "bool",
                "value" : true,
                "readOnly" : false
            },
            "deviceConnected" : {
                "dataType" : "bool",
                "value" : false,
                "readOnly" : true
            },
            "subDevice" : {
                "dataType" : "string",
                "value" : "disconnected",
                "readOnly" : true
            },
            "transmitPower" : {
                "dataType" : "enum",
                "enumValues" : ["low", "medium", "high"],
                "value" : "low",
                "readOnly" : false
            },
            "audioLevel" : {
                "dataType" : "number",
                "unit" : "dBFS",
                "value" : -256,
                "readOnly" : true
            },
            "rfLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 50,
                "readOnly" : true
            },
            "batteryLevel" : {
                "dataType" : "number",
                "unit" : "%",
                "value" : 100,
                "readOnly" : true
            }
        }
    ],
    "Connections" :[
        {
            "name":"Mixer",
            "channelIndex": 0,
            "channelType": "tx",
            "selfIndex": 0,
            "selfType": "rx",
            "deviceIp": "192.168.1.2"
        },
        {
            "name":"Mixer",
            "channelIndex": 1,
            "channelType": "tx",
            "selfIndex": 1,
            "selfType": "rx",
            "deviceIp": "192.168.1.2"
        }
    ]
}